{%extends "base.html"%}
{% block content %}
<div class="container mt-5">
  <div class="card-group">
    <div class="card m-3">
      <img class="card-img-top" src="https://pbs.twimg.com/media/DZotU1hW0AEDN5F.jpg:large">
      <div class="card-body">
        <h5 class="card-title">Arnav</h5>
        <p class="card-text">Arnav is the one who came up with the idea of this website and is also a frontend developer who worked on the library, about us page and other parts of the website.</p>
      </div>
    </div>
    <div class="card m-3">
      <img class="card-img-top" src="https://pbs.twimg.com/media/DZotU1hW0AEDN5F.jpg:large">
      <div class="card-body">
        <h5 class="card-title">Lingesh</h5>
        <p class="card-text"> Lingesh is the frontend developer who is responsible for the navbar and home.
        </p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card m-3">
      <img class="card-img-top" src="https://pbs.twimg.com/media/DZotU1hW0AEDN5F.jpg:large">
      <div class="card-body">
        <h5 class="card-title">Allistair</h5>
        <p class="card-text">Allistair he is the backend developer responsible for the hidden things which make this website work.</p>
      </div>
    </div>
    <div class="card m-3">
      <img class="card-img-top" src="https://pbs.twimg.com/media/DZotU1hW0AEDN5F.jpg:large">
      <div class="card-body">
        <h5 class="card-title">Rajin</h5>
        <p class="card-text">Rajin is a frontend developer and is responsible for the content and all the books in the site.  </p>
      </div>
    </div>
  </div>
  {% endblock content %}
