{%extends "base.html"%}
{% block content %}
<div class="container mt-5">
  <div class="card-group">
    <div class="card m-3">
      <img class="card-img-top" src="https://pbs.twimg.com/media/DZotU1hW0AEDN5F.jpg:large">
      <div class="card-body">
        <h5 class="card-title">Allistair</h5>
        <p class="card-text">Allistair is the backend developer responsible for the sign up/login, rating system, database creation/management, and server hosting.</p>
      </div>
    </div>
    <div class="card m-3">
      <img class="card-img-top" src="https://pbs.twimg.com/media/DZotU1hW0AEDN5F.jpg:large">
      <div class="card-body">
        <h5 class="card-title">Lingesh</h5>
        <p class="card-text">Lingesh is a frontend developer who is responsible for the navbar and home page.
        </p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card m-3">
      <img class="card-img-top" src="https://pbs.twimg.com/media/DZotU1hW0AEDN5F.jpg:large">
      <div class="card-body">
        <h5 class="card-title">Arnav</h5>
        <p class="card-text">Arnav is the one who came up with the idea for this hack and is also a frontend developer who worked on the library and the about us page.</p>
      </div>
    </div>
    <div class="card m-3">
      <img class="card-img-top" src="https://pbs.twimg.com/media/DZotU1hW0AEDN5F.jpg:large">
      <div class="card-body">
        <h5 class="card-title">Rajin</h5>
        <p class="card-text">Rajin is a frontend developer and is responsible for the content and research for the books on the site.</p>
      </div>
    </div>
  </div>
  {% endblock content %}
