{%extends "base.html"%}
{% block content %}

<div class="container-fluid">
    <br><br>
    <img class="background">
    <div class="jumbotron jumbotron-fluid">
      <div class="mx-5">
        <h1 class="title">Our Policy</h1>
        <p class="content">The books on our site are sourced from other websites. We are not responsible for any content that the user see's on other websites.
        The user is responsible for their content viewing.
        </p>
      </div>

    </div>
<br><br>
<h6>All images are from pixabay.com and are royalty free</h6>
{% endblock %}
